body {
  margin: 0;
  font-family: Arial;
  background: #111827;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #1f2937;
}

section {
  padding: 30px;
}

h2 {
  color: #38bdf8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1f2937;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.card {
  background: #1f2937;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
